body{
    box-sizing: border-box;
}
.shape
{
    height: 20rem;
    background-color: #007888;
}
.div-1
{
    background-color: #00BCD4;
}

.div-1 i
{
    font-size: 1.5rem;
    color:white;
    margin: 1rem 0.5rem 0 0;
}

.div-1 i:hover
{
    cursor: pointer;
    color: #007888;
}



.image-fluid
{
    width: 12rem;
    border: 0.25rem solid white;
    border-radius: 55%;
   
    
}


.btn-primary
{
    background-color: #007888 !important;
    border-color: #007888 !important;
    font-weight: bold;
    vertical-align: center;
}

.btn-ico
{
    font-size: 1rem  !important;
    margin: 0 0.5rem 0 0 !important;
}

.btn-primary:hover
{
    background-color: #0096aa !important;
    border-color: #0096aa !important;
}

.div-2
{

    background-color: #00a5bb;
}


.div-3
{
    background-color: #008fa1;
}

.div-3 a{
    color: #7decff;
    vertical-align: center;
    transition: 0.6s;
}

.div-3 a:hover{
    color: white;
    text-decoration: none;
}

.div-3 i{
    font-size: 1.7rem;
    margin: 1rem 0.5rem;
}

.div-4
{
    background-color :#007888;
}

.div-4 a{
    color: #7decff;
    text-decoration: none;
    margin: 1.5rem;
    transition: 0.6s;
    
}

.div-4 a:hover{
    color: white;

}

.div-5 h2
{
    margin:3vh 0;
}

.footer ul
{
    list-style: none;
}

.footer i
{
    font-size: 1rem;
    color: #00BCD4;
    margin: 3px;
}

.div-skills i {
    font-size: 1rem;
    color: #00BCD4;
    margin: 3px;
}

.color {
    color: #00BCD4;
}

footer {
    background-color: #00BCD4;
}



  
 





